body {
    background-color: #1a1a1a;
    color: white;
    font-family: 'Arial', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.animated-title {
    font-size: 40px;
    font-weight: bold;
    color: #ccc;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    gap: 20px;
}

.social-icons a {
    color: white;
    font-size: 40px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: gray;
}
